<!DOCTYPE html>
<html ng-app="Passwords" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Password manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="/app/app.css" rel="stylesheet">
    <script src="/vendor/sjcl.js"></script>
    <script src="/vendor/dropbox.min.js"></script>
    <script src="/vendor/underscore-min.js"></script>
    <script src="/vendor/angular-1.0.1.min.js"></script>
    <script src="/app/session.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/services.js"></script>
    <script src="/app/directives.js"></script>
    <script src="/app/controllers.js"></script>
  </head>
  <body>

    <div class="container">


      <div ng-controller="Passwords">

        <h1 ng-hide="encrypted" title="Passwords">Passwords</h1>

        <div ng-show="encrypted" class="row">
          <div class="span12">
            <form ng-submit="setPassword()" id="password-input" class="input-prepend">
              <span class="add-on"><i class="icon-lock"></i></span>
              <input ng-model="password" placeholder="password" type="password" class="input-xlarge" />
            </form>
          </div>
        </div>

        <div ng-hide="encrypted" class="row">
          <div class="span12">

            <div class="navbar">
              <div class="navbar-inner">
                <form class="navbar-search pull-left">
                  <input ng-model="search" type="text" class="search-query" placeholder="Search">
                </form>

              </div>
            </div>

            <table id="passwords" class="table table-hover">
              <tr ng-repeat="password in filterdPasswords()" class="password">
                <td class="name">
                  {{password.name}} <i ng-click="delete(password)" class="remove icon-remove"></i>
                </td>
                <td class="buttons">
                  <span clippy="{{password.password}}"></span>
                </td>
              </tr>
            </table>

            <div class="navbar">
              <div class="navbar-inner">
                <form id="add" class="navbar-form">
                  <input ng-model="addName" type="text" class="input-xlarge" placeholder="Name">
                  <input ng-model="addPassword" type="password" class="input-xlarge" placeholder="Password">
                  <button ng-click="add()" class="btn">Add</button>
                </form>
              </div>
            </div>

            <ul class="nav nav-pills">
              <li><a ng-click="logout()" href="#">Logout</a></li>
              <li><a ng-click="changePassword()" href="#">Change password</a></li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </body>
</html>